<h1>User Login</h1>

<%= form_with scope: :user, url: login_path, class: "user_form" do |f| %>

    <div>
        <%= f.label "Username", class: 'label' %>
        <%= f.text_field :name, class: 'field' %>
    </div>

    <div>
        <%= f.label "Password", class: 'label' %>
        <%= f.password_field :password, class: 'field' %>
    </div>

    <div class="submit_button"><%= f.submit "login" %></div>

<% end %>

<p>Not a user? Sign up <%= link_to "here", sign_up_path %>!</p>

<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>