<h1><%= @grocery_list.date %></h1>

<div id='current_data_grid'>

    <h2 id='recipe_header'>Recipes</h2>
    
    <div id='recipes'>

        <%= render partial: 'recipes', locals: {grocery_list: @grocery_list} %>

        <% if flash[:error] %>
            <p class="error"><%= flash[:error] %></p>
        <% end %>
    </div>

    <h2 id='list_header'>Grocery List</h2>
    
    <div id='list_container'>

        <% if @grocery_list.recipes.empty? %>
            <p>Your grocery list is empty!</p>
        <% end %>

        <ul class='grocery_list'>
            <%= render partial: 'list_grocery_items', collection: @grocery_list.final_list.sort, as: :grocery_item %>
        </ul>
    </div>
</div>

<h3>Add a Recipe</h3>

<ul>
    <%= render partial: '/recipes/list', collection: Recipe.all, as: :recipe, locals: {grocery_list: @grocery_list} %>
</ul>
