<h1><%= @grocery_list.date %> List</h1>

<h2>Recipes</h2>

<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<%= render partial: 'recipes', locals: {grocery_list: @grocery_list} %>

<h3>Grocery List</h3>

<% if @grocery_list.recipes.empty? %>
    <p>Your grocery list is empty!</p>
<% end %>

<ul>
    <%= render partial: 'list_grocery_items', collection: @grocery_list.final_list.sort, as: :grocery_item %>
</ul>

<h3>Add a Recipe</h3>

<ul>
    <%= render partial: '/recipes/list', collection: Recipe.all, as: :recipe, locals: {grocery_list: @grocery_list} %>
</ul>
