<!DOCTYPE html>
<html>
  <head>
    <title>Listify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <%= link_to "clear cookies", clear_cookies_path, method: :post %>

  <% if session[:page] != "login" && session[:page] != "sign-up"%>

    <%# link_to "home", root_path %>

    <% if logged_in? %>
      <%= link_to "logout", '/login', method: :delete %>
    <% else %>
      <%= link_to "login", login_path %>
      <%= link_to "sign-up", sign_up_path %>
    <% end %>
    
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
